.main-section {
    background-image: url('../img/img-main.jpeg');
    background-size: cover; /* La imagen cubrirá todo el ancho y largo */
    background-position: center;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-align: center;
}

/* VENTA */

.container_venta {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#venta-card {
    width: 30%;
    margin: 10px;
    margin-top: 30px;
    border: black 1px solid;
    border-radius: 8px;
    height: 400px;
    padding: 16px;
}
#venta-card.img {
    height: 250px;
}

/* ALQUILER */

.container_alquiler{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#alquiler-card {
    width: 30%;
    margin: 10px;
    margin-top: 30px;
    border: black 1px solid;
    border-radius: 8px;
    height: 400px;
    padding: 16px;
}